# Build artifacts
/_build/
/deps/
/instantgrep
/instantgrep-daemon
/instantgrep-bench
/ig_client
ig
igrep
*.beam
*.ez

# NIF build output
/priv/

# Index data
.instantgrep/

# IDE
.elixir_ls/
.idea/
*.iml

# OS
.DS_Store
